* {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

#root {
  max-width: 650px;
  margin: 20px auto;
}

.form-input {

}

.btn-save {

}

.btn-edit, .btn-remove {
  width: 27px;
  height: 27px;
  margin: 2px;
}

.btn-remove {

}

.item-text {
  margin-right: 10px;
  align-self: flex-end;
}

.list > li {
  display: flex;
}